/** **************************************************************************
 * Project     : Graphite
 *                Simple MVC web-application framework
 * Created By  : LoneFry
 *                dev@lonefry.com
 * License     : CC BY-NC-SA
 *                Creative Commons Attribution-NonCommercial-ShareAlike
 *                http://creativecommons.org/licenses/by-nc-sa/3.0/
 *
 * File        : /^CLI/css/CLI.css
 *                Graphite CLI stylesheet
 ****************************************************************************/

#cli, #cli * {margin:0; padding:0; font: 12pt monospace;}
#cli {background:#333; height:400px; overflow:scroll;}
#cli #buffer {width:100%; color:#ffc;}
#cli form {width:100%; position: relative; top: -17px; height: 20px;}
#cli #prompt {color:#ffc; border:0; padding: 0 0 0 18px; margin:0; background: transparent; width: 80%;}
#cli #submit {color: #333; background: #ffc; border:0; padding: 0; margin: 0; float: right; width: 10%;}

#cli .ls span.private {border-bottom: 1px solid red;}
#cli .ls span.public {border-bottom: 1px solid green;}
